.head{
    height: 80px;
    width: 100%;
    text-align: left;
    background: rgba(20, 185, 207, 0.781);
    color: white;
    font-family: Impact;
    font-size: 50px;
    padding: 8px;
    margin-right: 200px;
}
.img{
    background-image: url("https://cdn.dribbble.com/users/1094580/screenshots/3644566/dribbble.gif");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial Black;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  
  






